html{
    width: 100%;
    height: 100%;
}

body{
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(0, 107, 169, 0.562) 100%);;
}

.titulo{ 
    color: rgba(0, 0, 0, 0.550000011920929);
    width: 250px;
    height: 33px;
    position: absolute;
    font-family: Helvetica;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    margin-left: 50px;
}

.logo{
    width: 45px;
    height: 45px;

}

.linha{
    width: 300px;
    height: 5   0px;
    position: absolute;
    left: 100px;
    top: 72px;
    padding: 1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.534) ;
    display: flex;
    flex-direction: row;
}

.casinha{
    width: 45px;
    height: 50px;
}

.casinha2 {
    width: 45px;
    height: 50px;
    position: absolute;
    right: 100px;
    top:72px ;
}

.subtitulo{
    margin-top: 168px;
    font-family: Helvetica;
    color: rgba(0, 0, 0, 0.658);
    margin-left: 92px;
    font-size: 20px;
    width: 500px;
}

.texto{
    font-size: 25px;
}

.claro{
    margin-left: 370px;
    top: 100px;
    position: absolute;
}

.escuro{
    margin-left: 500px;
    top: 400px;
   
}

.imagem{
    margin-left: 400px;
    top: 140px;
    position: absolute;
}

.botao{
    margin-left: 40px;
    margin-top: 50px;
}
